<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    <style>
        @page {
            size: A4 portrait;
            margin: 46px;
        }

        * {
            font-family: "Source Sans Pro", SourceSansPro, Source_Sans_Pro, ArialSystem, sans-serif;
            color: #3E3832;
            font-style: normal;
        }

        h1, h2 {
            font-weight: 500;
            page-break-after: avoid;
        }

        h1 {
            font-size: 24px;
            line-height: 28px;
        }

        h2 {
            font-size: 20px;
            line-height: 25px;
            margin-top: 48px;
        }

        h3 {
            margin-bottom: 0;
            font-size: 14px;
            font-weight: bold;
        }

        p {
            margin-top: 0;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.2px;
        }

        li {
            font-size: 14px;
        }

        a {
            display: inline;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.2px;
            color: #3E3832;
        }

        .header {
            margin-bottom: 30px;
            width: 100%;
        }

        .mottaker-info-container {
            display: inline-block;
            width: 45%;
            align-items: center;
        }

        .mottaker {
            margin-bottom: 0;
        }

        .fodselsnummer {
        }

        .logo-container {
            display: inline-block;
            margin-left: 270px;
            width: 100px;
        }

        .navlogo {
            width: 48px;
        }

        .dato-sendt {
        }
    </style>

    <title>{{ doctitle }}</title>

</head>
<body>
    <div class="header">
        <div class="mottaker-info-container">
            <p class="mottaker">Til: {{ mottaker }}</p>
            <p class="fodselsnummer">Fødselsnummer: {{fodselsnummer}}</p>
        </div>
        <div class="logo-container">
            <img class="navlogo" alt="Nav-logo" src="{{ image "Navlogo.png" }}"/>
            <p class="dato-sendt">15. februar 2021</p>
        </div>
    </div>

    <h1 class="title">{{> title}}</h1>

    {{#each documentComponents }}
        {{#eq type 'HEADER_H1' }}
            <h1>
                {{#each texts }}
                    {{ this }}<br/>
                {{/each}}
            </h1>
        {{else eq type 'HEADER_H2' }}
            <h2>
                {{#each texts }}
                    {{ this }}<br/>
                {{/each}}
            </h2>
        {{else eq type 'HEADER_H3' }}
            <h3>
                {{#each texts }}
                    {{ this }}<br/>
                {{/each}}
            </h3>
        {{else eq type 'BULLET_POINTS' }}
            <ul>
                {{#each texts }}
                    <li>{{ this }}</li>
                {{/each}}
            </ul>
        {{else eq type 'HEADER' }}
            <h2>
                {{#each texts }}
                    {{ this }}<br/>
                {{/each}}
            </h2>
        {{else eq type 'LINK' }}
            {{#each texts }}
                <p><a href="{{ this }}">{{ this }}</a></p>
            {{/each}}
        {{else}} <!-- eq type PARAGRAPH -->
            <p>
                {{#each texts }}
                    {{ breaklines this }}<br/>
                {{/each}}
            </p>
        {{/eq}}
    {{/each}}
</body>
</html>
